html {
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: gray;
}

#ecran_win {

  width:900px;
  height: 600px;
  background-image: url(flat-wallpaper-5.jpg);
  background-size: cover;
  position: relative;
}

.winner_gauche {
		background-color: transparent;
	width: 200px;
	height: 200px;
	position: absolute;

}


.looser_droite {
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}
.winner_armes {
  height: 100px;
  background-color: transparent;
}
.looser_armes {
  background-color: transparent;
  height: 100px;
}
.score_winner {
  position: absolute;
  right: 50%;
}
.score_looser {
  position: absolute;
  right: 40%;
}
img {
  width: 90px;
  border-radius: 50%;
}
.conteneur_bouton {
  background-color: transparent;
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 900px;
}
p {
  position: absolute;
  right: 45%;
}
.afficher_winner {
  background-color: transparent;
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 150px;
  height: 150px;
}
.afficher_looser {
  background-color: transparent;
  width: 150px;
  height: 150Px;
  position: absolute;
  bottom: 15%;
  right: 10%;
}
.img_looser {
  position: absolute;
  bottom: 0;
}
.img_winner {
  position: absolute;
  bottom: 0;
}
.nom_winner {
  background-color: transparent;
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 50%;
  left: 40%;
}